<div class="container">
<table class="table table-hover" >
    <thead class="thead-dark">
      <tr>
        <th scope="col">MCSA133 - ADVANCED DATABASE MANAGEMENT SYSTEMS</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td><b>Total Teaching Hours for Semester   : 60</b></td>
        <td><b>No of Lecture Hours/Week    : 4</b></td>
      </tr>
      <tr>
            <td><b>Max Marks   : 100</b></td>
            <td><b>Credits : 4</b></td>
        
      </tr>     
    </tbody>
  </table>
  
  <table class="table table-hover">
      <tbody>
        <tr>
            <td><h5>Objective</h5> </td>
            
        </tr>
        <tr>
            <td>This course concentrates on the introduction, principles, design, and implementation of advanced database concepts. The objective of the course is to provide a strong foundation of database concepts and develop skills for the design, storage, and retrieval in relational  databases,  XML and NoSQL databases.</td>
            
          </tr>
          <tr>
              <td><h5>Learning Outcome</h5> </td>
              
          </tr>
          <tr>
              <td>
                  <dl>
                      <dd>Upon successful completion of the course, the student will be able to</dd>
                      <dd>CO 1: Understand the fundamental and advanced concepts of relational databases.</dd>
                      <dd>CO 2: Demonstrate storage and retrieval in XML and NoSQL.</dd>
                      <dd>CO 3: Design Database Application using CRUD operations.</dd>
                  </dl>
                </td>
               </tr>
               <tr>
                <td><h5>Unit-1</h5> 
                    Teaching Hours:12</td>
            </tr>
            <tr><td><h5>Introduction to Relational Databases</h5></td></tr>
            <tr><td>Database system applications - Purpose of database systems - View of data - Data models - Database languages - Database storage and querying - Transaction management - Database architecture - Database users and administrators</td></tr>

            <tr>
                <td><h5>Unit-2</h5> 
                    Teaching Hours:12</td>
            </tr>
            <tr><td><h5>ER Model and Relational Database Design</h5></td></tr>
            <tr><td>Structure of relational databases - Database schema - Keys, Schema diagrams, Design process - ER model – Constraints - ER diagrams - Aspects of database design - Atomic domains and 1NF - Decomposition using functional dependencies - Functional dependency theory</td></tr>

            <tr>
                <td><h5>Unit-3</h5> 
                    Teaching Hours:12</td>
            </tr>
            <tr><td><h5>Database Storage and Indexing</h5></td></tr>
            <tr><td>File organization - Organization of records in files - Data dictionary storage - Basic indexing concepts - Ordered indexes - B+ tree index - Static hashing - Dynamic hashing - Bitmap index</td></tr>

            <tr>
                <td><h5>Unit-4</h5> 
                    Teaching Hours:12</td>
            </tr>
            <tr><td><h5>XML Data Model</h5></td></tr>
            <tr><td>Motivation - Structure of XML Data - XML Document Schema - Querying and Transformation - Application Program Interfaces to XML - Storage of XML Data - XML Applications.
                </td></tr>

                <tr>
                    <td><h5>Unit-5</h5> 
                        Teaching Hours:12</td>
                </tr>
                <tr><td><h5>NoSQL</h5></td></tr>
                <tr><td>Definition and introduction - Document databases – MongoDB - Storing data and accessing data from MongoDB - Querying MongoDB - Document store internals - MongoDB reliability and durability - Horizontal scaling - CRUD operations in MongoDB - Creating and using indexes in MongoDB
                    </td></tr>
                
                    <tr>
                        <td><h5>Text Books And Reference Books:</h5> </td>
                    </tr>
                    <tr>
                        <td>
                            <dl>
                                <dd>[1]. Abraham Silberschatz, Henry Korth, Sudarshan, “Database System Concepts”, McGraw- Hill, 6th Edition, 2011.</dd>
                                <dd>[2]. Shashank Tiwari, “Professional NoSQL”, John-Wiley, 2011</dd>
                                </dl>
                          </td>
                         </tr>
                         <tr>
                            <td><h5>Essential Reading / Recommended Reading</h5> </td>
                        </tr>
                        <tr>
                            <td>
                                <dl>
                                    <dd>[1]. Raghu Ramakrishnan, Johannes Gehrke, “Database Management Systems”, McGraw-Hill, 3rd Edition, 2014.</dd>
                                    <dd>[2]. RamezElmasri, ShamkantNavathe, “Fundamentals of Database Systems”,  Addison- Wesley, 6th Edition, 2011.</dd>
                                    <dd>[3]. Kristina Chodorow, “MongoDB: The Definitive Guide”, O'Reilly, 2nd Edition, 2013.</dd>
                                    </dl>
                              </td>
                             </tr>
                        <tr>
                            <td><h5>Evaluation Pattern</h5>
                                <dl>
                                    <dd>CIA : 60%</dd>
                                
                                    <dd>ESE : 40%</dd>
                                </dl>
                  
                            </td>
                        </tr>
                        <tr><td></td></tr>
                   
      </tbody>
  </table>
  <button  (click)="onEdit()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up"></i></button>
</div>