<div class="container">
    <table class="table table-hover" >
        <thead class="thead-dark">
          <tr>
            <th scope="col">MCSA131 - PROGRAMMING IN JAVA</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            
            <td><b>Total Teaching Hours for Semester   : 60</b></td>
            <td><b>No of Lecture Hours/Week    : 4</b></td>
          </tr>
          <tr>
                <td><b>Max Marks   : 100</b></td>
                <td><b>Credits : 4</b></td>
            
          </tr>     
        </tbody>
      </table>
      
      <table class="table table-hover">
          <tbody>
            <tr>
                <td><h5>Objective</h5> </td>
                
            </tr>
            <tr>
                <td>To introduce the concepts and principles of Java Programming language and to design and implement object-oriented solutions to simple and complex problems. To experience in java programming within an integrated development environment.</td>
                
              </tr>
              <tr>
                  <td><h5>Learning Outcome</h5> </td>
                  
              </tr>
              <tr>
                  <td>
                      <dl>
                          <dd>Upon successful completion of the course, the student will be able to</dd>
                          <dd>CO 1: Recognize the principles and practice of object-oriented programming in the construction of robust maintainable programs.</dd>
                          <dd>CO 2: Show competence in the use of Java Programming language in the development of small to medium-sized application programs that demonstrate professionally acceptable coding and performance standards.</dd>
                          <dd>CO 3: Design real-time applications in various domains.</dd>
                      </dl>
                    </td>
                   </tr>
                   <tr>
                    <td><h5>Unit-1</h5> 
                        Teaching Hours:12</td>
                </tr>
                <tr><td><h5>Fundamentals of Java Programming</h5></td></tr>
                <tr><td>Review of the fundamentals of Java Programming - Class and Objects - Inheritance in Java - Inheritance in classes - Using super - Method overriding - Dynamic Method  Dispatch  -  Abstract Classes - Using final with inheritance - the Object Class - Interfaces and Packages - Inheritance in java with Interfaces - Defining Interfaces - Implementing Interfaces - Extending Interfaces - Creating Packages - CLASSPATH variable - Access protection - Importing Packages- Interfaces in a Package - Exception Handling in Java - try-catch-finally mechanism - throw statement - throws statement - Classes for Exception Handling</td></tr>
    
                <tr>
                    <td><h5>Unit-2</h5> 
                        Teaching Hours:12</td>
                </tr>
                <tr><td><h5>Input / Output in java, Multi threading, Applets</h5></td></tr>
                <tr><td>Input / Output in java - java.io package - I/O Streams - Readers and Writers - Using various I/O classes – Reader, Writer, Input Stream and Output Stream - Serialization of objects Multithreading - Life cycle of a thread - Java Thread priorities - Runnable interface and Thread Class - Sharing limited Resources - Shared Object with Synchronization – Comparators – Collections - Collection-classes – List – Set – Maps – Trees - Iterators</td></tr>
    
                <tr>
                    <td><h5>Unit-3</h5> 
                        Teaching Hours:12</td>
                </tr>
                <tr><td><h5>GUI Components (awt& swing) , Swing, Servlets</h5></td></tr>
                <tr><td>GUI concepts in java - Basic GUI Components in AWT - Container  Classes -  Layout  Managers - Flow Layout - Border Layout-Card Layout - Box Layout - Difference between AWT and SWING - Event Handling-Handling Keyboard Events and Mouse Events - Handling Sessions and Cookies - Servlet Model – Overview - Environment Setup - Life Cycle  -  Examples - Client Request - Server Response</td></tr>
    
                <tr>
                    <td><h5>Unit-4</h5> 
                        Teaching Hours:12</td>
                </tr>
                <tr><td><h5>Database and client server communication</h5></td></tr>
                <tr><td>Networking - Creating a server that sends data - Creating a client that receives data - two way communications between server and client - Difference between Server Socket and Socket – RMI - JDBC - Using MS-Sql Server Stages in a JDBC program - Registering the driver - Connecting to database - Transaction and Non-Transactional Events - Preparing SQL statements
                    - various methods of statements and differences - Improving the performance of a JDBC program
                    </td></tr>
    
                    <tr>
                        <td><h5>Unit-5</h5> 
                            Teaching Hours:12</td>
                    </tr>
                    <tr><td><h5>JSP Basics, Directive Elements, Custom Tags</h5></td></tr>
                    <tr><td>Java Server Pages - The Problem with Servlets - Life Cycle of JSP Page - JSP Processing - JSP Application Design with MVC - Setting Up the JSP - Environment - JSP Directives - JSP Action- JSP Implicit Objects - JSP Form Processing - JSP Session and Cookies Handling - JSP Session. Tracking - JSP Database Access - JSP Standard Tag Libraries - JSP Custom Tag - JSP Expression Language - JSP Exception Handling - JSP XML Processing
                        </td></tr>
                    
                        <tr>
                            <td><h5>Text Books And Reference Books:</h5> </td>
                        </tr>
                        <tr>
                            <td>
                                <dl>
                                    <dd>[1].    Schildt Herbert, “The Complete Reference”, Java Eighth Edition, Tata McGraw-Hill, 2011</dd>
                                    <dd>[2].    Kathy Walrath,“ Java server programming J2EE”, 1st ed., Black Book, Dream Tech Publishers, 2015.</dd>
                                    </dl>
                              </td>
                             </tr>
                             <tr>
                                <td><h5>Essential Reading / Recommended Reading</h5> </td>
                            </tr>
                            <tr>
                                <td>
                                    <dl>
                                        <dd>[1].    Deitel&Deitel, “Java How to Program”, Pearson Education Asia, 10th Edition, 2015.</dd>
                                        <dd>[2].    RaoNageswara, “Core Java: An Integrated Approach”, Dreamtech Press, 2nd Edition, 2010.</dd>
                                        <dd>[3].    James Keogh, “Complete Reference J2EE” McGraw publication, 2015.</dd>
                                        </dl>
                                  </td>
                                 </tr>
                            <tr>
                                <td><h5>Evaluation Pattern</h5>
                                    <dl>
                                        <dd>CIA : 60%</dd>
                                    
                                        <dd>ESE : 40%</dd>
                                    </dl>
                      
                                </td>
                            </tr>
                            <tr><td></td></tr>
                       
          </tbody>
      </table>
    </div>