<div class="scrollmenu">
    <a href="#adbms">ADBMS</a>
    <a href="#dl">Digital Logics</a>
    <a href="#dm">Discrete Mathematics</a>
    <a href="#toc">Theory of Computation</a>
    <a href="#csa">Computer Organization & Architecture</a>
    <a href="#ds">Data Structure</a>
    <a href="#algorithm">Algorithm</a>  
    <a href="#compilerdesign">Compiler Design</a>
    <a href="#os">Operating System</a>
    <a href="#cn">Computer Networks</a>
    <a href="#se">Software Engineering</a>
    <a href="#webservices">Web Services</a>
    <a href="#python">Python</a>
    <a href="#unix">Unix</a>
    <a href="#androidstudio">Android Studio</a>
  </div>