
  
    <section id="about" class="about">
        <div class="container">
  
          <div class="section-title" data-aos="zoom-out">
            <h2>About</h2>
            <p>Who we are</p>
          </div>
  
          <div class="row content" data-aos="fade-up">
            <div class="col-lg-6">
              <p>
                This is an Educational Website that provides ample functionality and content.
       Noted bridges the gap created by online classes between students and teachers.
              </p>
              <ul>
                <li><i class="fa fa-check"></i> Based on Christ University syllabus</li>
                <li><i class="fa fa-check"></i> Notes, Question paper, Syllabus, conversation portal. All in one place!</li>
                <li><i class="fa fa-check"></i> Simpler and less time-consuming by providing a web-portal for students of the CS Department</li>
              </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                The primary beneficiaries will be the students. It facilitates better management of study and support material for the students hence reducing the time that is wasted on collection of material. It aims at providing notes, syllabus, previous year question papers, project ideas etc. 
              </p>
              <a href="#" class="btn-learn-more">Learn More</a>
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->


      <section id="testimonials" class="testimonials">
        <div class="container">
  
          <div class="section-title" data-aos="zoom-out">
            <h2>Top Contributers</h2>
            <p>Know a little about them</p>
          </div>
  
          <div class="owl-carousel testimonials-carousel" data-aos="fade-up">
    
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/images/user2.png" class="testimonial-img" alt="">
              <h3>Hermione Granger</h3>
              <h4>Designer</h4>
            </div>
  
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/images/user1.png" class="testimonial-img" alt="">
              <h3>Sirius Black</h3>
              <h4>Developer</h4>
            </div>
  
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/images/user2.png" class="testimonial-img" alt="">
              <h3>Luna Lovegood</h3>
              <h4>Freelancer</h4>
            </div>
  
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/images/user1.png" class="testimonial-img" alt="">
              <h3>Albus Dumbledore</h3>
              <h4>Entrepreneur</h4>
            </div>
  
          </div>
  
        </div>
      </section>


      <footer id="footer">
        <div class="container">
          <h3>Noted</h3>
          <p>Bridges the Gap between Students and Teachers</p>
          <div class="social-links">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-skype"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
          <div class="copyright">
            &copy; Copyright <strong><span>Noted</span></strong>. All Rights Reserved
          </div>
          
        </div>
      </footer>